ddt==1.2.1
enum34==1.1.6
jsonpath==0.81
public==2.0.1
py==1.7.0
pycparser==2.19
PyMySQL==0.9.3
pypng==0.0.19
pytest==3.6.0
pytest-allure-adaptor==1.7.10
pytest-html==1.20.0
pytest-metadata==1.8.0
pytest-rerunfailures==5.0
pytz==2018.9
PyYAML==3.13
pyzmq==18.0.1
query-string==1.0.2
redis==3.2.1
request==1.0.2
requests==2.20.1
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.11.0
tzlocal==1.5.1
urllib3==1.24.1
Werkzeug==0.15.2
xlrd==1.2.0
